<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Vote/comment backup log</title>
    <link rel="stylesheet" type="text/css" href="static/css/backup.css" />
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <script src="static/js/queue.min.js"></script>
</head>
<body>

<div id="container">
    
    Backup log for: {{year}}, {{month}}
    <p>
    <table border="1">
    
    <tr>
        <th>Photo</th>
        <th>Votes added</th>
    </tr>
    
    {% for photo in added %}
    <tr>
        <td><img src="{{photo[0]}}"/></td>
        <td>{{photo[1]}}</td>
    </tr>
    {% endfor %}
    
    </table>

</div>

</body>
</html>