<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Photo Voting!</title>
    <link rel="stylesheet" type="text/css" href="static/css/pins.css" />
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <script src="static/js/queue.min.js"></script>
</head>
<body>

<div id="header-wrap">
    <div><p></div>
    <div id='t1'>Click photos to select/deselect, then button to submit votes.</div>
    <div id='t2'>Maximum $maxvotes votes</div>
    <button id="sendvotes" type="button">Submit Votes</button>
</div>

<div id="wrapper">
    <div id="columns">
    {%for photo in photos %}
        <div class="pin" vote=0>
            <img src="{{photo.url}}"/>
            <div class="link">
                <a href="{{photo.link}}">Zenfolio</a>
            </div> 
        </div>
    {% endfor %}
    </div>
</div>

<script src="static/js/voting.js"></script>

</body>
</html>