<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Past Monthly Winners</title>
    <link rel="stylesheet" type="text/css" href="static/css/winners.css" />
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <script src="static/js/queue.min.js"></script>
</head>
<body>

<div id="container">
    {% for contest in winners %}
    <div class="outerContainer">
        <div class="rowContainer">
            <div class="month">{{contest[1]}} {{contest[0]}}</div>
            <br>
            {% for photo in contest[2] %}
            <div class="tile">
                <div class="vote">
                    {{photo.votes}}
                </div>
                <a href ="{{photo.link}}">
                <img src="{{photo.url}}"/></a>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <p>
</div>

</body>
</html>